.loginpage {
  display: flex;
  flex-direction: column;
}

.logo {
  align-self: center;
  margin-top: 200px;
  margin-bottom: 50px;
}
.title {
  text-align: center;
  margin-top: 50px;
}
.register {
  text-align: center;
  margin-top: 20px;
}

.loginForm {
  margin-left: 370px;
  margin-right: 370px;
}
.contact {
  color: blue;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .loginForm {
    margin-left: 10%;
    margin-right: 10%;
  }
}
